.container {
    background: #edeef0;
    padding: 20px;
}

.title {
    text-align: center;
    margin: 25px 0;
}

.colum .item {
    padding: 10px;
    box-shadow: 0px 0px 3px 1px rgba(214, 200, 200, 0.5);
    background: #fff;
    text-align: center;
}

.colum .item .img {
    position: relative;
    width: 100%;
    height: auto;
}

.item .img img {
    width: 100%;
    height: auto;
}

.item .img .sale {
    display: flex;
    position: absolute;
    bottom: 15px;
}

.img .sale .sale-left {
    background: #56c887;
    color: #fff;
    padding: 0 10px;
    font-weight: 900;
}

.img .sale .sale-right {
    background: #ec6360;
    color: #fff;
    padding: 0 10px;
    font-weight: 900;
}

.colum .item .btn {
    border: 0;
    background: #4ec67f;
}